<script type="text/javascript">
    if ($(this).scrollTop() < 200 && $el.css('position') == 'fixed'){
    $('.fixedElement').css({'position': 'relative', 'top': '200px'});
}

</script>

<div class="jumbotron">
</div>

<nav class="navbar navbar-default fixedElement" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- <a class="navbar-brand" href="/">make.ly</a> -->
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav mid-nav">
      <li></li>
      <li></li>
      <li></li>
      <li><%= link_to "Shop by Cause", causes_path %></li>
      <li><%= link_to "Shop by Category", categories_path %></li>
      <li><%= link_to "Shop by Product", products_all_path %></li>
    </ul>
  </div>
</nav>

	

