<!-- <div class="jumbotron">
</div> -->

<!-- <nav id="mid-nav" class="navbar navbar-default mid-nav" role="navigation"> -->
  <!-- Brand and toggle get grouped for better mobile display -->
  <!-- <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> -->
    <!-- <a class="navbar-brand" href="/">make.ly</a> -->
  <!-- </div> -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <!-- <div class="collapse navbar-collapse mid-nav" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li></li>
      <li></li>
      <li></li>
      <li><%# link_to "Shop by Cause", causes_path %></li>
      <li><%# link_to "Shop by Category", categories_path %></li>
      <li><a href="#">Shop by Product</a></li>
    </ul>
  </div>
</nav> -->

	

