<div id="breadcrumb">  
    <ul class="crumbs">  
        <li class="first"><a href="#" style="z-index:9;"><span></span>Seller Sign Up</a></li>  
        <li><a href="#" style="z-index:8;">Create a Store</a></li>  
        <li><a href="#" style="z-index:7;">Create a Product</a></li>  
        <li><a href="#" style="z-index:6;">View Product Page</a></li>  
    </ul>  
</div>  