<div class="cause_container">
  <% @stores.each do |store| %>
      <div class="col-xs-6 col-md-3">
        <button type="button" class="btn btn-default btn-lg btn-block myBtn"><%= link_to store.store_name, store_products_path(store.id), class: "font" %>
        </button>
      </div>
  <% end %>
</div>


