
<h1>Customer Show</h1>

<% if current_customer_user %>
<h2> Welcome </h2>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @customer.customer_email %>
</p>

<p>
  <strong>Hashed password:</strong>
  <%= @customer.customer_hashed_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @customer.customer_salt %>
</p>


<%= link_to 'Back', customers_path %>