
<div class="form_container">

<h2> Seller Log in: </h2>
<%= render 'form' %>


</div>


<!-- <div class="container">

	<h2> Seller Log in: </h2>

	<div>
    <div class="row">
    	<%# form_for @seller, {url:"/seller_authentications", method:"post"} do |sellr| %>
      <div class="large-4 columns">
      	<%# sellr.label :email, "Seller Email", placeholder: "email" %>
		<%# sellr.text_field :email %>
      </div>

      <div class="large-4 columns">
      <%# sellr.label :password, "Seller Password", placeholder: "password" %>
	  <%# sellr.password_field :password %>
	  </div>
	  </br>

	  <%# sellr.submit "Log In", class: "button [tiny small large]" %>

	  <%#end%>
	</div>
</div> -->

