
<!-- <div class = "shopping_container">
	<div class= "checkout_form">

	<h1>Your order has been confirmed!</h1></br>
	<h3>Your order will be shipped within in the next 7-10 days</h3></br>

		<h4 class="font">Please check your seller info to ensure everything looks good!</h4></br></br>

		<h2>Name:</h2>
		<h3><%# @current_customer_user.customer_username %></h3></br>

		<h2>Email:</h2>
		<h3><%# @finalizedorder.customer_email %></h3>

		<h2>Address:</h2>
		<h3><%# @finalizedorder.customer_address %></h3>
		</br></br></br>

	</div>
</div>

 -->