

<h1><%= @customer.customer_username %> Your order has been confirmed! </h1>
<h2>Your order will be shipped within in the next 7-10 days</h2>

		<h4 class="font">Please check your seller info to ensure everything looks good!</h4>

		<h2>Email:</h2>
		<h3><%= @customer.customer_email %></h3>

		<h2>Address:</h2>
		<h3><%= @customer.customer_address %></h3>
		</br></br></br>