@import "bootstrap";


body{ 
	padding-top: 70px; 
	background: url(image-path('wallpaper.jpg'));
}

.container{
	margin: 0 auto;
	padding-top: 80px;
}

/*top navbar*/
.navbar{
	border-bottom: 10px solid #EEA9B8;
	/*margin-right: -20px;*/
	padding-right: 50px; 
}

/*mid-navbar - centering mid-navbar text*/
.navbar-nav{
	padding-left: 35%;
}

#myElementToStick{
	width: 100%;
	z-index: 999;
}

/*homepage*/

.jumbotron{
  background-image: url(image-path('unsplash.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  margin: -70px -40px -20px;
  padding: 0 auto;
}

.fixedElement {
    /*background-color: #c0c0c0;*/
    /*position:absolute;*/
    /*top:60px;*/
    width:100%;
    z-index:100;
}


/*forms*/
.field_with_errors{
	@extend .has-error
}

.form_container{
	width: 600px;
	height: 575px;
	margin: 0 auto;
	padding: 10px auto;
	/*background-color: gray;*/
}

.row{
	background-color: #e7e7e7;
	margin: 10px 20px;
	padding: 10px auto;
}

/*causes and categories buttons*/
.cause_container{
	/*width: 100%;*/
	height: 1000px;
	margin: 10px auto;
	/*background-color: green;*/
}

.cause_row{
	/*width: 380px;*/
	/*height: 120px;*/
	/*margin: 10px;*/
	/*float: left;*/
	/*background-color: blue;*/
}

/*.cause_img{
	width: 300px;
	height: 100px;
	margin: 10px auto;
	margin-left: 35px;
	text-align: center;
	background-color: gray;
}*/

.thumbnail{
	border: 2px solid gray;
	padding-bottom: 10px;
	text-align: center;
}

.font{
	font-family: 'Alegreya Sans SC', sans-serif;
}


/*all products pages - the thumbnails of the products*/

.product_row{
	height: 200px;
	margin-bottom: 80px;
	float: left;
	/*background-color: blue;*/
}

.product_img{
	width: 200px;
	height: 240px;
	margin-top: 10px;
	margin-left: 35px;
	margin-bottom: 20px;
	text-align: center;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.border{
	width: 175px;
	height: 175px;
	margin-left: 12px;
	margin-top: 10px;
	background-color: #e7e7e7;
	border: 1px solid gray;
	border-radius: 3px;
}

.border:hover{
			background-color: #FFFEFD;
		}


/*Product Page*/
.product_container{
	width: 1000px;
	height: 2000px;
	margin: 10px auto;
	padding: 10px auto;
	background-color: red;
}

.product_show_row{
	width: 500px;
	height: 450px;
	margin: 10px auto;
	padding: 10px auto;
	float: left;
	background-color: yellow;
}


.product_show_img{
	width: 450px;
	height: 400px;
	margin: 10px auto;
	text-align: center;
	background-color: gray;
}



