<h1>Listing products</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="2">Product Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>

      <tr>
        <td colspan="2"><%= product.product_name %></td>
        <td><%# link_to 'Show', store_product_path[@store, @product.id] %></td>
        <td><%# link_to 'Edit', edit_store_product_path(@store, @product) %></td>
        <td><%# link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_store_product_path, class: 'btn btn-default' %>
